doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
	body
		div(style='display:inline-block; margin-left: 3rem')
			img(src='../../images/RBlogo.jpg')
			a(href='/home', style="margin-bottom: 5rem") Home
			|
			|
			a(href='/', style="margin-bottom: 5rem") Login
			|
			|
			a(href='/dbInput', style="margin-bottom: 5rem") Input Data
			|
			|
			a(href='/dbSearch', style="margin-bottom: 5rem") Search Database
			|
			|
			a(href='/dbEdit', style="margin-bottom: 5rem") Edit Database
			|
			|
			a(href='/Andrea', style="margin-bottom: 5rem") Andrea
		br
		br